{% extends 'base.html' %}
{% block content %}
    <h5>About Me</h5>
    <div class="d-flex">
        <img class="photo1" src="{{ url_for('static', filename='images/Sadam.jpg') }}" alt="SSSADAM">
        <div class="vr"></div>
        <div class="text-content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi autem ratione commodi nulla? Ad officia a vero doloremque dolorem nesciunt laboriosam, illum, dicta, ab quia modi distinctio laborum maxime eum?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, hic! Enim quod aliquid tenetur rerum optio quos expedita quia temporibus repellendus, placeat accusantium nisi ducimus iste culpa voluptatum inventore ea?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
 quam aut quia, perspiciae vitae?
            </p>
        </div>  
    </div>
{% endblock %}

